<launch>
    <node pkg="px4_base" type="lemniscate" name="lemniscate_node" output="screen">
            <param name="altitude" value="5.0"/>
            <!-- <param name="takeoff_time" value="5.0"/> -->
            <param name="rotation_frequency" value="0.05"/>
            <param name="rotation_amplitude" value="3.0"/>
    </node>
</launch>