<launch>
    <arg name="record_bag" default="false" />
    <arg name="id" default="1" />
    <arg name="name" default="uav$(arg id)" />
    <arg name="phase" default="0.0" />


    <group ns="$(arg name)">
    <node pkg="px4_base" type="takeoff_and_land" name="takeoff_node" output="screen">
    </node>
    </group>

    <node pkg="rosbag" type="record" name="rosbag_record"
        if="$(arg record_bag)"
        args="record -a -o $(find px4_base)/bags/" />

</launch>
